---
import { getTags } from "../../services/article-service";
import DefaultError from "../errors/DefaultError.astro";

const tags = await getTags();
---

<div class="col-md-3">
  <div class="sidebar">
    <p>Popular Tags</p>
    <div class="tag-list">
      {
        tags.length > 0 ? (
          tags.map((tag: string) => (
            <a class="tag-pill tag-default" style={{ cursor: "pointer" }} href={`/?filter=${tag}`}>
              {tag}
            </a>
          ))
        ) : (
          <DefaultError />
        )
      }
    </div>
  </div>
</div>
