---
import { getUserSessionData } from "../../services/session-service";
const currentPath = Astro.url.pathname;
const userSession = getUserSessionData(Astro.cookies);

---

<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class={`nav-link ${currentPath == "/" ? "active" : ""}`} href="/" id="home">Home</a>
      </li>
      {userSession.isLoggedIn ? (        
      <li class="nav-item">
        <a class="nav-link" href="/editor" id="editor"> <i class="ion-compose"></i>&nbsp;New Article </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings"id="settings"> <i class="ion-gear-a"></i>&nbsp;Settings </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={"/profile/"+userSession.username}id="profile">
          <img src={userSession.image} class="user-pic" />
          {userSession.username}
        </a>
      </li>
      ) : (
      <li class="nav-item">
        <a class={`nav-link ${currentPath == "/login" ? "active" : ""}`} href="/login" id="login">Sign in</a>
      </li>
      <li class="nav-item">
        <a class={`nav-link ${currentPath == "/register" ? "active" : ""}`} href="/register" id="register">Sign up</a>
      </li>)
    }
    </ul>
  </div>
</nav>


