---
import Layout from "../../Layout.astro";
import TagSidebar from "../tags/TagSidebar.astro";
const pageTitle = "Conduit - Home";
---

<Layout pageTitle={pageTitle}>
  <div class="home-page">
    <div class="banner">
      <div class="container">
        <h1 class="logo-font">conduit</h1>
        <p>A place to share your knowledge.</p>
      </div>
    </div>   
    <div class="container page">
      <div class="row">
        <slot />
        <TagSidebar />
      </div>
    </div>
  </div>
</Layout>
